@font-face {
    font-family: 'play';
    src: url('../fonts/play/Play.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/play/Play.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/play/Play.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/play/Play.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/play/Play.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/play/Play.svg#opensans') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/open-sans/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans/OpenSans.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/open-sans/OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans/OpenSans.svg#opensans') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'open-sans';
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'play';
}

.top-right a {
    color: black;
}

.contact-title {
    background-color: #22a7f0;
    color: #ffffff;
    text-align: center;
}

.contact-title .container {
    display: inline-block;
}

.page-address {
    padding: 20px;
    /* padding-right: 40px; */
    /* float: right; */
}

.page-address a {
    color: #ffffff;
}

.page-address h5 {
    display: inline;
    vertical-align: middle;
    font-family: 'open-sans';
}

.contact-title h3 {
    margin: 0;
    padding: 20px 10px;
}

.contact-title .title-left {
    float: left;
}

.contact-title .title-right {
    float: right;
}


/* contact us */

.heading {
    margin-top: 60px;
}

.heading h1 {
    background: url(../img/heading.png) no-repeat;
    background-position: left bottom;
    padding: 0 0 20px 0;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.contact-us h1 {
    color: #22a7f0;
}


/* end contact us */


/* form */

.form-horizontal {
    margin-bottom: 25px;
}

.form-control {
    border-radius: 0;
    padding: 20px 20px;
}

.btn-default {
    color: #fff;
    background-color: #22a7f0;
    border-color: #22a7f0;
    margin-bottom: 60px;
}

.btn {
    padding: 6px 30px;
    border-radius: 0;
}


/* end form */


/* get in touch */

.get-in-touch {
    background: #22a7f0;
    color: #ffffff;
    height: auto;
}

.get-in-touch h4 {
    padding: 35px;
    padding-left: unset;
}

.control-right {
    padding: 35px;
    text-align: right;
}

.control-right .btn-default {
    border-radius: 2px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 35px;
    /* margin-top: 25px;
    margin-bottom: 25px; */
}


/* end get in touch */

@media(min-width: 320px) {
    .contact-title .title-left,
    .contact-title .title-right {
        float: none;
    }
    .contact-title h3 {
        padding-bottom: 5px;
    }
    .contact-title .page-address {
        padding-top: 5px;
    }
    .title-right img {
        width: 10px;
        height: 10px;
        padding-top: 2px;
    }
    .heading h1 {
        font-size: 20px;
    }
    .heading {
        margin-top: 30px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .form-control {
        margin-bottom: 15px;
    }
    .btn-default {
        margin-bottom: 35px;
    }
    .get-in-touch h4 {
        padding-left: unset;
        font-size: 15px;
        text-align: center;
        padding: 10px;
        padding-top: 20px;
    }
    .control-right {
        padding: 0px;
        /* padding-bottom: 30px; */
        text-align: center;
    }
    .control-right .btn-default {
        font-size: 10px;
    }
}

@media(min-width: 768px) {
    .contact-title .title-left {
        float: left;
    }
    .contact-title .title-right {
        float: right;
    }
    .contact-title h3 {
        padding-bottom: 10px;
    }
    .contact-title .page-address {
        padding-top: 16px;
    }
    .get-in-touch h4 {
        font-size: 25px;
        padding: 15px;
        padding-top: 30px;
    }
    .control-right .btn-default {
        font-size: 17px;
    }
}

@media(min-width: 992px) {
    .get-in-touch h4 {
        font-size: 16px;
        padding: 0px;
        padding-top: 0;
        margin-top: 30px;
        text-align: left;
    }
    .control-right .btn-default {
        font-size: 10px;
        margin: 20px 0;
        float: right;
    }
}

@media(min-width:)