@font-face {
    font-family: 'play';
    src: url('../fonts/play/Play.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/play/Play.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/play/Play.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/play/Play.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/play/Play.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/play/Play.svg#opensans') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/open-sans/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans/OpenSans.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/open-sans/OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans/OpenSans.svg#opensans') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'open-sans';
    font-size: 14px;
    background-color: #ffffff9f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'play';
}


/* .about-title */

.about-title {
    background-color: #22a7f0;
    color: #ffffff;
    text-align: center;
}

.about-title .container {
    display: inline-block;
    vertical-align: middle;
}

.page-address {
    padding: 20px;
    /* padding-right: 40px; */
    /* float: right; */
}

.page-address a {
    color: #ffffff;
}

.page-address h5 {
    display: inline;
    vertical-align: middle;
    font-family: 'open-sans';
}

.about-title h3 {
    margin: 0;
    padding: 20px 10px;
}

.about-title .title-left {
    float: left;
}

.about-title .title-right {
    float: right;
}


/* end about-title */


/* isi */

.jasa-kurir {
    padding-top: 10px;
    padding-bottom: 60px;
}

.jasa-kurir .title-banner {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ececec;
    text-align: left;
}

.jasa-kurir .img-banner img {
    display: inline-block;
    width: 100%;
    margin: 15px 0px 0px;
    border-radius: 4px;
}

.jasa-kurir .inner-img {
    text-align: center;
}

.jasa-kurir .inner-img img {
    display: inline-block;
    border-radius: 6px;
}

.jasa-kurir .inner-text h3 {
    border-bottom: 2px solid #ededed;
    padding-bottom: 20px;
    margin-top: 10px;
}

.jasa-kurir .inner-text.after-banner p {
    margin-top: 5px;
}

.jasa-kurir .inner-kurir:last-child {
    border-bottom: 3px solid transparent;
}

.jasa-kurir .inner-kurir:first-child h2 {
    padding-top: 20px;
}

.jasa-kurir .inner-kurir h2 {
    padding-top: 5px;
    text-align: center;
}

.jasa-kurir .inner-text {
    padding: 1.25rem;
    margin: 25px 0px;
    box-shadow: 0.8px 2px 15px rgba(29, 67, 99, 0.125);
    border-radius: 6px;
    background-color: #ffffff;
}


/* end isi */


/* about-end */

.about-end {
    color: #ffffff;
    background-color: #22a7f0;
    padding: 20px;
    vertical-align: middle;
}

.about-end a.asd {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 20px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}

.about-end .end-text {
    float: left;
}

.about-end .end-button {
    float: right;
    margin-right: 10px;
}


/* end about-end */

@media all and (max-width:768px) {
    .jasa-kurir .inner-text {
        margin: 25px 27.5px;
    }
    .about-end {
        text-align: center;
    }
    .about-end .col-md-10 {
        margin-bottom: 15px;
    }
    .about-end .end-button {
        margin-right: 35px;
    }
}

@media (min-width: 426px) and (max-width: 735px) {
    .about-title .container {
        vertical-align: middle;
    }
    .about-end .end-text,
    .about-end .end-button {
        float: none;
    }
    .about-end .end-button {
        margin-right: 0px;
    }
}

@media all and (max-width:425px) {
    .about-title .title-left,
    .about-title .title-right {
        float: none;
    }
    .about-title h3 {
        padding-bottom: 5px;
    }
    .about-title .page-address {
        padding-top: 5px;
    }
    .jasa-kurir .inner-kurir img {
        margin: 0px;
    }
    .jasa-kurir .inner-text {
        padding: 20px;
    }
    .about-end .end-button {
        margin-right: 0px;
        float: none;
    }
    .about-end .end-text {
        float: none;
    }
}