.top {
    padding: 5px;
    box-shadow: 0 2.5px #e7e7e7;
}

.icon-sosmed {
    padding: 5px;
}

.top-right {
    display: inline;
    padding-right: 40px;
}

.group-20 {
    text-align: left;
}

.group-13 {
    text-align: right;
}

.group-20,
.group-13 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-control .glyphicon-chevron-left {
    width: 40px;
    height: 35px;
    border: 1px solid #ffffff;
}

.carousel-control .glyphicon-chevron-right {
    width: 40px;
    height: 35px;
    border: 1px solid #ffffff;
}

.menu .navbar {
    margin-bottom: 0;
    padding: 10px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-brand {
    /* background: url(img/logo.png) no-repeat; */
    padding: 5px 15px;
    width: 100%;
    background-origin: border-box;
    background-size: cover;
}

.navbar-default {
    background: none;
    border: none;
    padding: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #98d6f8;
    background: none;
}

.carousel-inner {
    width: 100%;
    height: 700px;
}

.carousel-caption {
    padding: 250px 0 450px 0;
}

.carousel-caption .btn-primary {
    border-radius: 2px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 35px;
    margin-bottom: 25px;
}

.btn-primary:active:hover {
    color: #fff;
    background: none;
}

a {
    color: #e11b22;
    text-decoration: none;
}

.icon-sprite {
    display: inline-block;
    background-position: left top;
    margin-top: 100px;
    margin-bottom: 5px;
}

.col-md-4 p {
    margin-bottom: 100px;
}

.icon-sprite.sprite-kurir {
    background: url(img/kurir.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.icon-sprite.sprite-kirim {
    background: url(img/kirim.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.icon-sprite.sprite-pindah {
    background: url(img/pindah.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
}

.group-20 {
    background-size: 15px;
}

.services h4 {
    color: #e11b22;
}

.from-blog h1 {
    color: #e11b22;
}

.fun-facts {
    background: #e11b22;
    color: #ffffff;
}

.happy-clients .text-center {
    margin-top: 20px;
}

.happy-clients h1 {
    background: url(img/headingw.png) no-repeat;
    background-position: center bottom;
    padding: 0 0 10px 0;
}

.projects h1 {
    background: url(img/headingw.png) no-repeat;
    background-position: center bottom;
    padding: 0 0 10px 0;
}

.heading {
    margin-top: 60px;
}

.heading h1 {
    background: url(img/heading.png) no-repeat;
    background-position: left bottom;
    padding: 0 0 20px 0;
}

.owl-carousel .owl-item .media-object {
    display: block;
    width: 180px;
    /* height: 150px; */
    /* width: 100%; */
}

.media-body {
    padding: 20px;
}

.media-body a {
    float: right;
}

.item {
    background-color: #f8f8f8;
}

.owl-theme .owl-nav {
    margin-bottom: 60px;
    text-align: right;
    float: right;
    color: #ffffff;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav .left {
    padding: 5px;
    margin-left: 5px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    background-color: #e11b22 !important;
    padding: 10px !important;
}

.from-blog .owl-carousel .owl-nav button.owl-prev,
.from-blog .owl-carousel .owl-nav button.owl-next,
.from-blog .owl-carousel button.owl-dot {
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0;
}

.owl-theme .owl-dots {
    display: none;
}

.get-in-touch {
    background: #e11b22;
    color: #ffffff;
}

.get-in-touch h4 {
    padding: 35px;
}

.control-right {
    padding: 35px;
}

.control-right .btn-default {
    border-radius: 2px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 35px;
    /* margin-top: 25px;
    margin-bottom: 25px; */
}

.footer1 {
    background: #161616;
}

.icontext a {
    color: #ffffff;
    font-size: 12px;
}

.footer1 h4 {
    color: #22a7f0;
    text-align: left;
}

.footer1 h6 {
    color: #ffffff;
    text-align: left;
}

.footer1 p {
    color: #ffffff;
    text-align: left;
}

.news p {
    color: #e11b22;
}

.footer1 .row {
    padding: 50px;
}

.inner-related {
    display: block;
    font-size: 12px;
    color: #22a7f0;
    padding-bottom: 5px;
}

.inner-related a {
    color: #ffffff;
}

.inner-news {
    display: block;
    font-size: 12px;
    color: #22a7f0;
    padding-bottom: 5px;
}

.inner-news a {
    color: #ffffff;
}

.about h4,
.related h4,
.news h4,
.get h4 {
    padding-bottom: 10px;
}

.footer2 {
    background: #000000;
    color: #ffffff;
    padding: 20px;
}